/* CSS declarations go here */
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.side-pane {
  width: 20em;
  height: 100%;
  float: left;
}

.main-pane {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.zoom {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
